.App {
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  padding: 40px;
  white-space: nowrap;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0 10px;
  width: 128px;
}
.actions {
  display: flex;
  justify-content: right;
  padding: 0 10px;
  width: 128;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 48px;
  max-width: 600px;
  box-sizing: border-box;
  background-color: #e4e4e4;
  border-radius: 8px;
}
.form {
  display: flex;
  height: 100%;
  flex-grow: 1;
  line-height: 48px;
}

.search-bar input {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  font-family: var(--body-font);
  font-weight: 400;
  padding-left: 20px;
  font-size: 19px;
  border: none;
  outline: none;
}
.search-bar button {
  height: 100%;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 500;
  padding: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-bar svg {
  height: 100%;
  width: 100%;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.navigation ul li {
  margin: 20px;
  width: 96px;
  text-align: center;
}
.book-list {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 50px;
}

.book {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.book:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Yeni gölge efekti */
  transform: scale(1.05); /* 1.05 oranında büyüme */
}
.book-image {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-image svg {
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
  object-fit: cover;
  background-color: #ddd;
}
.book-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.book-author {
  font-size: 1rem;
  margin-top: 5px;
}

.book-description {
  font-size: 1rem;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #c1a792;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.book-button:hover {
  background-color: #005ea2;
}

.book-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-details-container {
  position: relative;
  width: 60%;
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  gap: 20px;
  padding: 90px 50px;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.book-details-container button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.book-image-cont {
  max-width: 350px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}
.detail-cont {
  flex-grow: 1;
}

.book-image-cont img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.book-image svg {
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
  object-fit: cover;
  background-color: #ddd;
}
.book-details-container button svg {
  font-size: 2rem;
}

.book-details-container .book-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.book-details-container .book-author {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.book-details-container .book-description {
  font-size: 1rem;
  line-height: 1.5;
}
.cont-button {
  display: flex;
}
.cont-button p {
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #c1a792;
}
.cont-button p:hover {
  background-color: #005ea2;
}
@media screen and (max-width: 800px) {
  .header {
    flex-wrap: wrap;
    padding: 20px;
  }
  .center {
    width: 100%;
  }
  .logo,
  .actions {
    flex: 1;
    margin: 20px 0;
  }
  .book-list {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items: center;
  }

  .search-bar input {
    font-size: 12px;
  }
  .book {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
  }

  .book-details-container {
    flex-direction: column;
  }
  .book-details-container {
    position: relative;
    width: 90%;
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 50px 50px;
    border-radius: 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }
  .book-image-cont {
    visibility: hidden;
    display: none;
  }
  .book-details-container .book-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
